@model List<UtilantInterviewTest.Models.User>

@{
    ViewData["Title"] = "Home Page";
}

<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            @foreach (var user in Model)
            {
                foreach (var album in user.Albums)
                {
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <div class="card-title text-truncate font-weight-bold"><a href="/album/index/@album.Id">@album.Title</a></div>
                            <div class="card-title text-truncate font-weight-light"><a href="/user/index/@user.Id">@user.Name</a></div>
                            <img src="@album.Photos[0].ThumbnailUrl" />
                            <div class="card-body">
                                <div class="card-text">
                                    <div class="font-weight-bolder"><a href="mailto:@user.Email">@user.Email</a></div>
                                    <address>
                                        @user.Address.Street<br />
                                        @if (!string.IsNullOrEmpty(@user.Address.Suite))
                                        {
                                            @user.Address.Suite <br />
                                        }
                                        @user.Address.City, @user.Address.ZipCode
                                    </address>
                                    @if (!string.IsNullOrEmpty(user.Phone))
                                    {
                                        @user.Phone<br /><br />
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
</div>